.footer {
  background-color: #ff6600;
  color: white;
  text-align: center;
  padding: 15px 0;
  flex-shrink: 0; /* never shrink */
  position: relative;
position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  z-index: 1000;
}
